// Перемынные для адаптивного шрифта (без px)
$layout-width: 0;
$container-width: 0;
$minScreen-width: 0;

// Шрифты
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
$caveat: 'Caveat', cursive;

// Цвета
